<div class="canter jumbotron">
  <h1>Sample Appへようこそ</h1>

  <h2>
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    のサンプルアプリのHomeページです
  </h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt:"Rails logo"),
'http://rubyonrails.org/'%>
<%#= image_tag("kitten.jpg", alt:"kitten")%>